.app__header{
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0rem;

    width: 100%;
    position: fixed;
}

.app__header h1{
    margin: 0;
}

.app__header h1:nth-of-type(2){
    padding: .5rem 1rem;
    background-color: orange;
    color: white;
}