.app__navbar-container{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}

.app__navbar-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.app__navbar-tab:hover{
    animation: heartBeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.app__navbar-title{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 100%;

    
    background-color: black;
    color: white;
}