.main{
    width: 100svw;
    height: 100svh;
    
    overflow-x: scroll;
}

.main::-webkit-scrollbar{
    display: none;
}

.page-container{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}